<html>
  <head>{% load static %}
    <title>Evolução da tag #impeachment.</title>
    <meta http-equiv="refresh" content="30">
    <meta property="og:title" content="Evolução da tag #impeachment.">
    <meta property="og:description" content="Evolução da tag #impeachment.">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="http://{{ request.get_host }}{% static 'thumb.png' %}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Evolução da tag #impeachment.">
    <meta property="og:type" content="website">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Data', 'Reputação'],
          {% for tweet in tweets %}
          [new Date({{ tweet.created_at|date:"Y, m, d, H, i, s" }}), {{ tweet.reputation }}]{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Evolução da tag #impeachment. {{ tweets.count }} tweets',
          hAxis: {title: 'Data do tweet'},
          vAxis: {title: 'Reputação = SEGUIDORES/(SEGUINDO*(TWEETS/DIAS DE USO))'},
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 100%; height: 800px;"></div>
  </body>
</html>